body {
  background-color: rgb(255, 255, 255);
  width: 500px;
  padding: 15px;
  border: 3px solid;
  border-color: blueviolet;
}

.azul {
  color: rgb(43, 185, 221);
}

.grande {
  font-size: 50px;
}
.seccion2 {
  background-color: cornsilk;
  color: blueviolet;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

#logo {
  width: 100px;
  height: 100px;
}
